.logo {
  height: 150px;
  margin-top: 230px;
  margin-left: 750px;
}

.box {
  margin-left: 546px;
}
.container {
  width: 700px;
}
input#Search {
  width: 700px;
  height: 30px;
  background: white;
  border: solid;
  border-width: 1px;
  border-color: gray;
}
