.logo {
  height: 150px;
  margin-top: 230px;
  margin-left: 750px;
}

.box {
  margin-left: 546px;
}
.container {
  width: 700px;
}
li {
  display: inline;
}
.nav {
  font-size: 14px;
  float: right;
  padding: 5px;
  margin-top: auto;
  display: inline-block;
  color: black;
}
input#Search {
  width: 700px;
  height: 30px;
  background: white;
  border: solid;
  border-width: 1px;
  border-color: gray;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: underline;
}

.footer{
  position: fixed;
  bottom: 0px;
  left:0px;
  height: 30px;
  width: 100%;
  background-color: gray;
  border-top: 1px solid black;

}

.left {
  font-size: 14px;
  float: left;
  padding: 5px;
  margin-top: auto;
  display: inline-block;
  color: black;
}
.right {
  font-size: 14px;
  float: right;
  padding: 5px;
  margin-top: auto;
  display: inline-block;
  color: black;
}
